
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}


@keyframes shake-animation {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    animation: shake-animation 0.5s;
}
.shake-error {
    animation: shake-animation 0.5s; /* Duración de medio segundo */
    animation-iteration-count: 1;
}
.contenido-principal{
    text-align: center;
    height: 100vh;
    /* background-color: black; */
    background-image: url('/images/background/fondo_papel.jpg');
        background-size: cover;
        /* background-position: center; */
    .indicador-vidas{
        height: 8%;
        display: flex;
        align-items: center;
        background-color: #532e32cc;
        padding: 1rem;
    }
    .contenido{
        height: 92%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 1rem;        
    }
}
.ventana-preguntas{
    /* background-color:#532e32cc; */
    background-image: url("/images/background/papel.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 10px;
}
.ventana-bomba{
    width: 100%;
    height: 100%;
    
    
    .pantalla-pregunta{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .texto-pregunta{
            text-align: center;
        }
        .contenedor-cables{
            width: 90%;
            max-width: 700px;
            height: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-image: url('/images/background/cables2.png'); 
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        .contenedor-cables button{
            width: 100%;
            border: none;
            background-color: transparent;
            cursor: url('/images/icons/alicates.png'), pointer;
            /* background-color: rgba(255, 255, 255, 0.26); */
        }
        contenedor-cables button:active{
            cursor: url('/images/icons/alicates_2.png'), pointer;
        }
        .contenedor-cables button:hover{
            background-color: transparent;
            }
    }
}

/* Estilo del inicio */
.contenido-inicio{
    background-color: lightcoral;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    .ventana-principal{
        background-color: gray;
        height: 80%;
        min-height: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        padding: 1rem;
        border-radius: 10px;
    }
}
/* para eñ gif */

.ventana-derecha{
    width: 40%;
    height: 100%; /* Dale una altura fija para probar */
    max-height: 450px;
    background-color: transparent; /* Color de fondo para saber si el componente está ahí */
    justify-items: center;
    .bomba-3d{
        height: 100%;
    }
}

#explosion-animacion {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: top;
    display: none; /* Oculto por defecto */
    pointer-events: none; /* Para que no interfiera con clics */
}