
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 400;
}


@keyframes shake-animation {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
    animation: shake-animation 0.5s;
}
.shake-error {
    animation: shake-animation 0.5s; /* Duración de medio segundo */
    animation-iteration-count: 1;
}
.contenido-principal{
    height: 100vh;
    .indicador-vidas{
        height: 8%;
        display: flex;
        align-items: center;
        background-color: lightcoral;
        padding: 1rem;
    }
    .contenido{
        height: 92%;
        background-color: black;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 1rem;        
    }
}
.ventana-preguntas{
    background-color: gray;
    min-height: 400px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

/* Estilo del inicio */
.contenido-inicio{
    background-color: lightcoral;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    .ventana-principal{
        background-color: gray;
        height: 80%;
        min-height: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        padding: 1rem;
        border-radius: 10px;
    }
}
/* para eñ gif */

.ventana-derecha{
    width: 40%;
    height: 100%; /* Dale una altura fija para probar */
    max-height: 450px;
    background-color: transparent; /* Color de fondo para saber si el componente está ahí */
    justify-items: center;
    .bomba-3d{
        height: 100%;
    }
}

#explosion-animacion {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: top;
    display: none; /* Oculto por defecto */
    pointer-events: none; /* Para que no interfiera con clics */
}