
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 400;
}
.contenido-principal{
    height: 100vh;
    .indicador-vidas{
        height: 3rem;
        background-color: lightcoral;
        padding: 1rem;
    }
    .contenido{
        background-color: black;
        padding: 1rem;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: row;
        height: 100%;
        gap: 1rem;
        
    }
}

.ventana-preguntas{
    background-color: gray;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;  
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
.contenido-inicio{
    /* height: 1000px; */
}
.bomba-3d{
    width: 100%;
    height: 500px; /* Dale una altura fija para probar */
    background-color: transparent; /* Color de fondo para saber si el componente está ahí */
}
